<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Xin Chào</h1>
<div class="row">
    <div class="col">
        <table class="table table-border">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="l : ${list}">
                <td th:utext="${l.id}"></td>
                <td th:utext="${l.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>