/* Common */
.title h2 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.title p {
    text-align: center;
    font-size: 20px;
    padding-bottom: 2%;
}

.container .row {
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}



/* Header */
.header .col-md-12 {
    padding: 0;
    width: 100%;
}



/* first-content */
.first-content .first-item img{
    margin-right: 2%;
    height: 100%;
    margin-bottom: -100px;
}

.first-content .first-item .service-text{
    position: relative;
    /* bottom: 8px;
     left: 14px; */
    color: #fff;
    font-size: 16px;
    background-color: #737373;
    /* background-color: transparent; */
    opacity: 0.8;
    width:100%;
    height: 100%;
    padding: 2% 0; 
}

.first-item .service-text p{
    opacity: 1;
    /* z-index: 1; */
    padding-bottom: 2%;
    margin-left: 5%;

}
.first-item .service-text h3{
    font-size: 20px;
    margin-left: 5%;
}



/* second-content */
.second-content .second-item .combo-text {
    background-color: #dfdede;
    padding: 4% 0;
}

.second-item .combo-text p {
    margin: 0 0 0 2%;
}

.second-item .combo-text .title {
    padding-bottom: 4%;
}


/* third-content */
.third-right .col-md-6 .text {
    background-color: #dfdede;
    padding-top: 6%;
    padding-left: 4%;
    padding-bottom: 1%;
}

.col-md-6 .text p{
    margin-bottom: 0;
}

.col-md-6 .text .text-title {
    margin-bottom: 8%;
}


/* footer */
.footer {
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 1.5%;
    padding: 0.5%;
}


